.form-row {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

  .form-row mat-form-field, .full-width {
    flex: 1;
    width: 100%;
  }

mat-checkbox {
  margin-top: 10px;
  margin-bottom: 16px;
}

[mat-dialog-content] mat-form-field {
  margin-bottom: 0;
}
error-message {
    margin:2px;
}
